.pointer {
  cursor: pointer;
}
/* Goals.js */
.goals-header {
  color: #333741;
  font-weight: bold;
}
.add-goals-btn {
  color: #eeeffa;
  background-color: #636977;
  padding: 1em 2em;
}
.goal-data-scrl {
  min-height: 20vh;
  max-height: 74.5vh;
  padding-right: 1em;
  overflow-y: scroll;
  overflow-x: hidden;
}

.goal-data-scrl::-webkit-scrollbar-track {
  background-color: #eeeffa;
}
.goal-data-scrl::-webkit-scrollbar-button:single-button {
  background-color: #eeeffa;
  border: 3px solid #eeeffa;
  color: #eeeffa;
}
/* ::-webkit-scrollbar-button:single-button:vertical:decrement {
    background-image: url("../images/up.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  ::-webkit-scrollbar-button:single-button:vertical:increment {
    background-image: url("../images/down.svg");
    background-repeat: no-repeat;
    background-position: center;
  } */
.goal-data-scrl::-webkit-scrollbar {
  width: 0.5em;
}
.goal-data-scrl::-webkit-scrollbar-thumb {
  border: 1px solid grey;
  background-color: grey;
  border-radius: 10px;
  height: 10em;
}

.calender-container {
  background-color: white;
  border-radius: 15px;
  height: 88vh;
  overflow-y: hidden;
}
/* Goals Modal  */
.modal-border {
  border-radius: 30px;
}
.goals-header-inpt {
  border: none;
  color: #636977;
}
.goals-header-inpt:focus {
  outline: none;
}
.goals-modal-inpt {
  border: none;
  padding: 0.7em 0.5em;
  border-radius: 10px;
  color: #636977;
}
.goals-modal-inpt:focus {
  outline: none;
}
.add-goals-container {
  background-color: #eeeffa;
  font-weight: bold;
  color: #636977;
  border-radius: 4px;
}
.badge-box {
  /* box-shadow: 0px 1px 30px 0px rgba(0, 0, 0, 0.09); */
  background-color: white;
  height: 5em;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.extra-padding {
  padding: 0em 4em;
}
.goals-color-circle {
  cursor: pointer;
  border: 2px solid #eeeffa;
}
.goals-color-circle:hover {
  cursor: pointer;
  box-shadow: 0px 1px 30px 0px rgba(0, 0, 0, 0.09);
}
.activeclass {
  border: 3px solid #a8abc1;
  /* background-color: aqua; */
}
.goals-submit-btn {
  color: #eeeffa;
  background-color: #636977;
  padding: 1em 2em;
}
/* Goals Card */

.goal-card {
  border-radius: 10px;
  padding: 0.5em;
  color: #6b6b6b;
}
.goal-card-date {
  font-size: 15px;
}
.goal-status-pill {
  padding: 5px;
  font-size: 12px;
  text-align: center;
  width: max-content;
}
.select-goal-status:hover {
  background-color: #eeeffa;
}

/* Goals offcanvas */
.offcanvas-goals-bg {
  background-color: #eeeffa;
}
.goals-offcanvas {
  z-index: 11;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  min-height: 100vh;
}
.goals-offcanvas-card {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  padding: 2em;
  color: #6b6b6b;
  font-weight: bold;
}

.goals-offcanvas-heading {
  background-color: #eeeffa;
  font-weight: bold;
}
.goals-offcanvas-description {
  word-wrap: break-word;
  word-break: break-word;
  font-weight: 500;
  font-size: 14px;
}
.goals-offcanvas-back-btn {
  font-size: 30px;
}
.goals-offcanvas-sm-txt {
  font-weight: 300;
  font-size: 12px;
}
.goals-offcanvas-sbt-btn {
  color: #eeeffa;
  background-color: #636977;
  padding: 1em 2em;
}
.goals-offcanvas-input {
  border: none;

  padding: 0.7em 0.5em;
  border-radius: 10px;
  color: #636977;
}
.goals-offcanvas-input:focus {
  outline: none;
}
.warning-bubble {
  background-color: rgb(236, 113, 113);
  color: red;
  border-radius: 5px;
  padding: 0.5em;
}
.back {
  position: absolute;
  z-index: 1;
  margin-top: 10rem;
}
.front {
  position: absolute;
  z-index: 3;
}
.middle {
  position: absolute;
  z-index: inherit;
}

/* Delete milestone  */
.delete-txt {
  color: #fa4659;
}
.warning-conatiner {
  background-color: #ffceb1;
  border-left: 4px solid #d75e4f;
  border-radius: 5px;
}
.warning-header {
  color: #ac070a;
}
.warning-content {
  color: #d75e4f;
}
.btn-grey {
  background-color: #636977;
  color: white;
}
