/* Task.js css */

.status-col-util {
  background-color: #ffffff;
  border-radius: 20px;
  min-height: 73vh;
  padding: 1em;
}
.add-task-btn {
  color: #eeeffa;
  background-color: #636977;
  padding: 1em 1.5em;
}
[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  color: white;
  background-color: #9c9688;
  border-radius: 5px;
  padding: 0.1em;
}
[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  color: white;
  background-color: #9c9688;
  border-radius: 5px;
}
/* For TaskModal.css */
/* label {
  color: #636977;
} */
.task-modal-inpt {
  border: none;
  padding: 0.7em 0.5em;
  border-radius: 10px;
  color: #636977;
}
.task-modal-inpt:focus {
  outline: none;
}
.task-modal-sub-btn {
  color: #eeeffa;
  background-color: #636977;
  padding: 1em 2em;
}
.modal-body-bg {
  background-color: #eeeffa;
  font-weight: bold;
  color: #636977;
}
/* For DND TAsk */
.main-heading {
  color: #636977;
  background-color: #cbcde7;
  font-size: 18px;
  border-radius: 10px;
}

.task-card {
  /* box-shadow: 0px 1px 30px 0px rgba(0, 0, 0, 0.05); */
  border-radius: 10px;
  color: #6b6b6b;
  background-color: #eeeffa;
}
.task-header {
  font-size: 24px;
  font-weight: bold;
}
.task-delete-btn {
  background-color: #a8abc1;
  color: white;
  display: flex;
  align-items: center;
  border-radius: 50%;
}
.task-description {
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  font-weight: 500;
  font-size: 18px;
}
.draggedItem {
  background-color: #f7eefa;
  border: 2px dashed #8e49c4;
}

/* View TAks CArd */

.task-offcanvas {
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  min-height: 100vh;
}
.task-offcanvas-card {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  padding: 2em;
  background-color: #eeeffa;
  font-weight: bold;
  color: #636977;
  overflow-y: hidden;
}

.task-offcanvas-heading {
  background-color: #eeeffa;
  font-weight: bold;
}
.task-offcanvas-description {
  word-wrap: break-word;
  word-break: break-word;
  font-weight: 500;
  font-size: 14px;
}
.task-offcanvas-sbt-btn {
  color: #eeeffa;
  background-color: #636977;
  padding: 1em 2em;
}
.task-offcanvas-back-btn {
  font-size: 30px;
}
.task-offcanvas-sm-txt {
  font-weight: 300;
  font-size: 12px;
}
.task-offcanvas-input {
  border: none;

  padding: 0.7em 0.5em;
  border-radius: 10px;
  color: #636977;
}
.task-offcanvas-input:focus {
  outline: none;
}
.warning-bubble {
  background-color: #fa4659;
  color: #c02737;
  border-radius: 5px;
  padding: 0.5em;
}
